# Source
url --url='https://download.rockylinux.org/pub/rocky/10/BaseOS/x86_64/os/'

# Localization
lang en_US.UTF-8
keyboard --xlayouts='us'
timezone America/New_York --utc

# Initial security settings
rootpw rocky --allow-ssh
selinux --enforcing
firewall --enabled --ssh

# Network
network --bootproto=dhcp --device=link --activate --onboot=on
network --hostname=redquartz.localdomain

# Disk
zerombr
ignoredisk --only-use=vda
clearpart --all --initlabel --disklabel=gpt
bootloader --location=mbr --append="net.ifnames=0 biosdevname=0"
part biosboot --fstype=biosboot --size=1
part /boot --fstype=xfs --size=1024
part swap  --fstype=swap --size=1024
part /     --fstype=xfs --size=1 --grow

# Packages
%packages
@core
%end

# Install
text
reboot
skipx
firstboot --disable
